doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Wide print
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="css/main.css")

	body
		div.loader
			div.loader_inner

		.main-screen

			.container
				.row
					.col-md-12
						header

							.header__logo
								img(src="images/header_logo.png" alt="")
								.header__logo-left
									.header__title ТМ  	&#171;Реклама Принт&#187;
									.header__title-after рекламная продукция в Киеве

							.header__cont
								.header__cont-left
									span 063 058-33-36
									span 066 069-33-36
									span 067 214-01-44

								.header__cont-right
									.header__addres г. Киев, бул. И. Лепсе, 8
									.header__recall
										img(src="images/header_recall.png" alt="")
										a(href="#") Обратный звонок
				.row
					.menu-wrap
						.toggle-wrap
							.toggle-button
								span.sandwich
									span.sw-topper 
									span.sw-bottom 
									span.sw-footer 
						ul.menu
							li
								a.to-why(href="#") Преимущества
							li
								a.to-surface(href="#") Печать и цена
							li
								a.to-after-print(href="#") Пост пресс
							li
								a.to-product(href="#") Продукция
							li
								a.to-trust(href="#") Нам дверяют
							li
								a.to-contact(href="#") Контакты

					.col-md-9.col-md-offset-1

						h1 Широкоформатная печать в Киеве

						button.modal-click.b-red Заказать звонок

						a(href="#").maket-req 
							img(src="images/maket.png" alt="")
							| Требование к макету

		.overlay
			.modal-window
				.modal__close
					img(src="images/modal_close.png" alt="")
				.modal__left

				.modal__right
					.modal__title Заказать звонок менеджера

					form.modal__form
						input#phone(type="text" placeholder="+3 8(0__) ___-__-__")
						input.submit(type="submit" value="Заказать звонок ")

		section.s-we
			.container
				.row
					.col-md-12
						h2 Почему мы?

				.row
					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_1.png" alt="")
							p Современное высокопроизводительное оборудование

					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_2.png" alt="")
							p Высокий уровень качества и сервиса


					.col-md-4.col-sm-4.col-xs-4.we-item__grid
						.we-item
							img(src="images/we_3.png" alt="")
							p Демократическая цена производителя

		section.s-surface
			.container
				.row
					.col-md-7
						h2 Печатаем на любых плоских поверхностях

					.col-md-5
						ul
							li пленки
							li баннер
							li дерево
							li пластик
							li холст
							li бумага
							li металлиз
							li материалы
				.row
					.col-md-6.col-sm-6
						.surface__left
							.surface__img
								img(src="images/equip_1.jpg" alt="")
								p Mutoh ValueJET 1624

							.surface__descr

								.surface__after-img Экосольвент

								h3 На гибких рулонных материалах
									.small На баннере, плёнке, холсте, ткани, бумаге.

								.surface__price
									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

					.col-md-6.col-sm-6
						.surface__right
							.surface__img
								img(src="images/equip_2.jpg" alt="")
								p Océ Arizona 350 

							.surface__descr
								.surface__after-img Планшетная UV

								h3 На жёстких листовых материалах
									.small На вспененном ПВХ, акриле, пластиках, дереве, пробковом листе и т. д.

								.surface__price
									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2

									.surface__row
										.surface__row-left 1-10 м2  
										.surface__row-right 240 грн. /м2


		section.s-after-print
			.container
				.row
					.col-lg-8.col-md-12
						h2 Производим послепечатную обработку изделий

				.row
					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_1.png" alt="")
						h4 Ламинация
						p Нанесение защитной прозрачной плёнки на поверхность изделия для ащиты изображения от различных внешних воздействий.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_2.png" alt="")
						h4 Плоттерная резка
						p Прорезаем изделие до подложки или насквозь по заданному изображению для получения  любой формы.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_3.png" alt="")
						h4 Установка люверсов
						p Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_4.png" alt="")
						h4 Фрезеровка
						p Металлические или пластиковые втулки, устанавливаем для укрепления краёв отверстий, использующихся для продевания верёвок.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_5.png" alt="")
						h4 Лазерная резка
						p Прорезаем изделие до подложки или насквозь по заданному изображению.

					.col-md-4.col-sm-4.col-xs-6.after-print__item
						img(src="images/after_print_6.png" alt="")
						h4 Гибка пластиков
						p Прорезаем изделие до подложки или насквозь по заданному изображению.

		section.s-call.s_white
			.container
				.row
					.col-md-12
						h2.h2_white Заказать звонок менеджера 
							.small Оставьте свой номер телефона в форме, в течении 15 минут с вами свяжется менеджер по оформлению заказов на печать

				.row
					.col-md-12
						form
							input(type="text" placeholder="Ваше имя")
							input(type="text" placeholder="Телефон")
							input(type="text" placeholder="Имейл")
							.s-call__button
								input.submit_red(type="submit" value="Заказать звонок")

		section.s-product
			.container
				.row
					.col-md-12
						h2 Продукция
							.small Решаем любые задачи рекламной продукции,  помогая компаниям стать заметными на рынке
							img(src="images/header_logo.png" alt="")

				.row
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_1.jpg" alt="")
						h4 Наклейки
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_2.jpg" alt="")
						h4 Стопперы
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_3.jpg" alt="")
						h4 Баннеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_4.jpg" alt="")
						h4 Бэклайт
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_5.jpg" alt="")
						h4 Шелфтокеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_6.jpg" alt="")
						h4 Воблеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_7.jpg" alt="")
						h4 Костеры
					.col-md-3.col-sm-4.col-xs-6.product
						img(src="images/product_8.jpg" alt="")
						h4 Другое

		section.s-trust
			.container
				.row
					.col-md-12
						h2 Нам дверяют

				.row
					.trust__items
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_1.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_2.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_3.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_4.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_5.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_6.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_7.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_8.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_9.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_10.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_11.jpg" alt="")
						.col-md-3.col-sm-4.col-xs-6
							img(src="images/trust_12.jpg" alt="")

		footer
			.contact.s_white
				h2.h2_white Контакты
				.contact__addres г. Киев. бул. И. Лепсе, 8
				.contact__phones
					span 063 058-33-36
					span 066 069-33-36
					span 067 214-01-44

				.contact__title-small Заказать звонок менеджера
				form.contact__form
					input#phone1(type="text" placeholder="+3 8(0__) ___-__-__")
					input.submit(type="submit" value="Заказать звонок")

				a(href="#").maket-req 
					span.img-wrap
						img(src="images/maket.png" alt="")
					.maket-text Требование к макету

			#map





		script(src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous")

		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="libs/jquery.maskedinput/dist/jquery.maskedinput.min.js")
		script(type="text/javascript" src="libs/waypoints/lib/jquery.waypoints.min.js")
		script( async defer src="https://maps.googleapis.com/maps/api/js?key=  AIzaSyBLDdftVUUdZbvqbe9pWFii2_aFUhxE-fw &callback=initMap")
		script(type="text/javascript" src="js/custom.js")
