@media screen and (max-width: 1200px)

	h3
		width: 100%
	
	.s-call
		form
			width: 80%
			margin: 0 auto

	.s-call__button
		width: 100%
		text-align: center
		margin-top: 30px

	.s-product
		h2
			.small
				width: 90%

@media only screen and (max-device-width: 1024px)

	.main-screen, .s-call
		background-attachment: scroll

@media screen and (max-width: 990px)

	h3
		height: 180px

	.header__cont
		width: 325px

	.header__cont-left
		width: 135px

	.s-we .we-item
		width: 100%

	.surface__left
		margin-right: 0

	.surface__right
		margin-left: 0

	.surface__img
		height: 280px
		text-align: center
		margin-bottom: 80px

		img
			height: auto
			width: 100%

	.s-call

		form
			width: 100%

			input[type="text"]
				padding: 20px 10px

	.toggle-wrap
		display: block

	.menu-wrap
		padding-bottom: 60px
		.menu
			overflow: hidden
			padding: 15px 0
			background: rgba(0,0,0, 0.4)
			display: none
			li
				float: none
				padding: 0
				position: relative
				text-align: center

				&:hover
					background: rgba(0,0,0, 0.4)


				a
					color: #fff
					display: block
					padding: 15px 0

				&:after
					display: none

				&:first-child
					padding-left: 0

		.active-menu
			display: block


@media screen and (max-width: 820px)

	h1
		&:before
			top: -30px
			left: 0

	h2

		&:before
			top: -30px
			left: 0


@media screen and (max-width: 768px)

	header
		flex-direction: column
		align-items: center

	.header__logo
		margin-bottom: 20px

	.surface__left, .surface__right
		width: 70%
		margin: 0 auto

	.s-after-print
		.col-xs-6
			height: 390px

	.modal-window
		margin: 0 15px
		.modal__left
			width: 30%

		.modal__right
			width: 70%

@media screen and (max-width: 720px)

	h1
		font-size: 52px
		margin: 60px 0 40px 0

		&:before
			left: 0

	h2
		font-size: 42px
		font-family: "Geometria-ExtraBold"
		position: relative
		margin-bottom: 30px
		position: relative

		&:before
			left: 0

		.small
			font-size: 20px
			font-family: "Geometria-Medium"
			color: #1e1e1e
			margin-top: 30px

	h3
		font-size: 24px
		font-family: "Geometria-ExtraBold"
		width: 80%
		margin-bottom: 20px
		height: 130px

		.small
			font-size: 16px
			font-family: "Geometria"
			color: #1e1e1e
			margin-top: 20px


	h4
		font-size: 18px
		font-family: "Geometria-Bold"

	.main-screen
		padding: 40px 0 120px

	section
		padding: 80px 0

	.s-call
		form
			flex-direction: column
			align-items: center

			input[type="text"]
				background: rgba(255,255,255,0.1)
				border: none
				border-bottom: 2px solid #fff
				padding: 20px
				width: 50%
				margin-bottom: 10px

@media screen and (max-width: 640px)

	h2, .s-after-print h2
		text-align: center

	.main-screen

		.b-red
			margin: 0 auto
			display: block
		.maket-req
			display: block
			text-align: center
			margin-top: 20px
			margin-left: 0

	.surface__left, .surface__right
		width: 80%

	.we-item__grid
		p
			width: 40%
			margin: 0 auto 25px

@media screen and (max-width: 580px)

	h1
		font-size: 46px

	.contact
		left: 5vw
		width: 400px
		padding: 40px

	.modal-window .modal__left
		display: none

	.modal-window .modal__right
		width: 100%

@media screen and (max-width: 510px)

	h1
		font-size: 42px

	.surface__left, .surface__right 
		width: 100%

@media screen and (max-width: 480px)

	h1
		font-size: 36px

	h2
		font-size: 36px

	.we-item__grid
		p
			width: 60%

	.s-call form input[type="text"]
		width: 80%

	.s-product h2 img
		display: none

	.modal-window 
		.modal__right
			padding: 70px 35px
			background: #e52218
			.modal__title
				font-family: "Geometria-Bold"
				font-size: 32px
				color: #fff


@media screen and (max-width: 395px)

	h1
		font-size: 32px

	h3
		width: 100%

	.header__logo
		width: 290px

		img
			width: 58px
			height: 54px
			margin-right: 10px
	.header__title
		font-size: 22px
	.surface__price .surface__row .surface__row-right
		width: 60%

@media screen and (max-width: 350px)

	h1
		font-size: 28px

	h3
		font-size: 20px

	.header__cont
		width: 100%
		overflow: hidden
		text-align: center

	.header__cont-left
		width: 100%
		font-family: "Geometria-Bold"
		font-size: 16px
		line-height: 22px
		float: none
		text-align: center
		margin-bottom: 15px

		span
			display: inline-block
			margin-right: 15px

	.header__recall
		overflow: hidden
		margin-top: 7px
		
		img
			display: inline-block
			float: none
		a
			display: inline-block
			float: none

	.s-call form input[type="text"]
		width: 100%