@import "bourbon"
@import reset

+font-face("Geometria-Bold", "../fonts/Geometria-Bold/Geometria-Bold", $file-formats: eot woff ttf svg)
+font-face("Geometria-Medium", "../fonts/Geometria-Medium/Geometria-Medium", $file-formats: eot woff ttf svg)
+font-face("Geometria-ExtraBold", "../fonts/Geometria-ExtraBold/Geometria-ExtraBold", $file-formats: eot woff ttf svg)
+font-face("Geometria-Light", "../fonts/Geometria-Light/Geometria-Light", $file-formats: eot woff ttf svg)
+font-face("Geometria", "../fonts/Geometria/Geometria", $file-formats: eot woff ttf svg)



$white: #fff

body
	font-family: "Geometria"
	font-size: 16px
	line-height: normal
	color: #1e1e1e


h1
	font-size: 60px
	font-family: "Geometria-ExtraBold"
	color: #fff
	position: relative
	margin: 90px 0 40px 0
	opacity: 0
	transition: all 1.5s ease
	transform: scale(1.5)

	&:before
		content: ""
		width: 30px
		height: 30px
		background: url(../images/h2_before_white.png)
		position: absolute
		top: -18px
		left: -30px

.h1_animat
	opacity: 1
	transform: scale(1)
h2
	font-size: 50px
	font-family: "Geometria-ExtraBold"
	position: relative
	margin-bottom: 30px

	&:before
		content: ""
		width: 30px
		height: 30px
		background: url(../images/h2_before.png)
		position: absolute
		top: -18px
		left: -30px
		transition: all 1.5s
		opacity: 0

.h2_animat
	
	&:before
		transform: rotate(720deg)
		opacity: 1

	.small
		font-size: 20px
		font-family: "Geometria-Medium"
		color: #1e1e1e
		margin-top: 30px
		line-height: 28px


.h2_white

	&:before
		content: ""
		width: 30px
		height: 30px
		background: url(../images/h2_before_white.png)
		position: absolute

	.small
		color: #fff

h3
	font-size: 30px
	font-family: "Geometria-ExtraBold"
	width: 80%
	margin-bottom: 20px
	height: 130px

	.small
		font-size: 16px
		font-family: "Geometria"
		color: #1e1e1e
		margin-top: 20px


h4
	font-size: 18px
	font-family: "Geometria-Bold"

section
	padding: 80px 0
.s_white
	color: #fff

.submit
	width: 270px
	height: 60px
	text-align: center
	color: #1c1c1c
	font-family: "Geometria-ExtraBold"
	font-size: 18px
	border: none
	border-radius: 7px

	&:hover
		background: #fff

	&:focus
		outline: none

.submit_red, .b-red
	background: url(../images/red_button.png)
	color: #fff
	width: 270px
	height: 60px
	text-align: center
	font-family: "Geometria-ExtraBold"
	font-size: 18px
	border: none
	border-radius: 7px


/*   loader   */

.loader
	background: none repeat scroll 0 0 $white
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/loading.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: $white
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

/*   loader end   */


.toggle-wrap
	display: none

	/*  button animation  */

	.toggle-button
		width: 30px
		height: 30px
		float: left
		margin: 10px 0 0 10px
		cursor: pointer
		position: absolute
		top: 10px
		left: 10px
		z-index: 1
		span
			display: block


	$w: 28px
	$h: 3px

	.sandwich 
		width: $w
		height: $w
		margin: auto
		z-index: 200

	.sw-topper
		position: relative
		top: 0
		width: $w 
		height: $h
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		display: block
				
		//transition-delay: 0.2s, 0s


	svg
		path
			fill: #e0e0e0

	.sw-bottom
		position: relative
		width: $w
		height: $h
		top: $h * 2.2
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: transform 0.5s, top 0.2s
		transition-delay: 0.2s, 0s
	.sw-footer
		position: relative
		width: $w
		height: $h
		top: $h * 4.5
		background: rgb(255, 255, 255)
		border: none
		border-radius: 4px 4px 4px 4px
		transition: all 0.5s
		transition-delay: 0.1s
	.sandwich.active
		.sw-topper
			top: 9px
			transform: rotate(-45deg)
		.sw-bottom
			top: 6px
			transform: rotate(45deg)
		.sw-footer
			opacity: 0
			top: 0
			transform: rotate(180deg)
	
	/*  button animation end */

.modal-window
	max-width: 850px
	display: flex
	flex-wrap: wrap
	position: relative
	box-shadow: 0 0 50px

	.modal__close
		position: absolute
		right: 15px
		top: 15px
		cursor: pointer

	.modal__left
		width: 50%
		background: url(../images/modal_left.jpg) no-repeat
		background-size: cover

	.modal__right
		width: 50%
		box-sizing: border-box
		padding: 70px 65px
		background: #e52218
		.modal__title
			font-family: "Geometria-Bold"
			font-size: 50px
			color: #fff

#phone, #phone1
	background: transparent
	color: #fff
	border: none
	padding-bottom: 7px
	border-bottom: 2px solid #fff
	margin: 45px 0 25px
	width: 270px

	&:focus
		outline: none

	&::placeholder
		color: white
		opacity: 1

.main-screen
	background: url(../images/main_screen.jpg) no-repeat
	background-size: cover
	padding: 40px 0 180px
	background-attachment: fixed

header
	color: #fff
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	opacity: 0
	margin-bottom: 40px

.header__logo
	width: 360px
	display: flex
	align-items: center
	justify-content: space-between

.header__title
	font-family: "Geometria-ExtraBold"
	font-size: 24px

.header__title-after
	font-family: "Geometria-Medium"
	font-size: 14px

.header__cont
	width: 360px
	overflow: hidden

.header__cont-left
	width: 150px
	font-family: "Geometria-Bold"
	font-size: 16px
	line-height: 22px
	float: left

	span
		display: block

.header__recall
	overflow: hidden
	margin-top: 7px
	
	img
		display: block
		float: left
	a
		display: block
		width: 60px
		float: left
		margin-left: 10px
		color: #b9b9b9
		font-family: "Geometria-Medium"
		font-size: 14px
		text-decoration: underline

.menu-wrap
	position: relative
	.menu
		overflow: hidden
		padding: 15px 0
		max-width: 950px
		margin: 0 auto
		li
			float: left
			padding: 0 30px
			position: relative

			a
				color: #fff

			&:after
				content: ""
				width: 7px
				height: 7px
				position: absolute
				top: 8px 
				right: -3px
				background: #e52218
				border-radius: 100%

			&:first-child
				padding-left: 0

			&:last-child:after
				display: none

.fixed-menu
	position: fixed
	top: 0
	left: 0
	right: 0
	background: rgba(0,0,0, 0.5)
	z-index: 1

.maket-req
	margin-left: 100px
	text-decoration: none
	color: #fff

	&:hover
		color: #fff

	img
		position: relative
		top: 10px
		right: 20px

.overlay
	position: fixed
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0, 0.8)
	z-index: 10
	display: none

.active-overlay
	display: flex
	justify-content: center
	align-items: center

.s-we
	h2
		margin-bottom: 80px

	.we-item
		text-align: center
		width: 80%
		margin: 0 auto

		img
			margin-bottom: 20px
			position: relative
			transform: rotate(180deg)
			transition: all 0.5s

		.we-item_animat
			transform: rotate(0)


.s-surface
	ul
		margin-top: 15px
		margin-bottom: 120px
		li
			width: 140px
			float: left						
			position: relative
			padding-left: 20px
			font-family: "Geometria-Bold"
			font-size: 21px
			position relative
			top: -250px
			left: -300px
			opacity: 0
			transition: all 0.5s

			&:before
				content: ""
				width: 7px
				height: 7px
				position: absolute
				top: 12px 
				left: 0
				background: #e52218
				border-radius: 100%

		.s-surface__animat
			top: 0
			left: 0
			opacity: 1	


.surface__left
	margin-right: 15px
	border: 1px solid #f0f0f0

.surface__right
	margin-left: 15px
	border: 1px solid #f0f0f0

.surface__img
	height: 280px
	text-align: center
	margin-bottom: 80px

	img
		height: 260px
		width: auto

	p
		font-size: 13px
		color: #848484
		text-align: left

.surface__descr
	background: #f0f0f0
	padding: 30px 20px

.surface__after-img
	font-family: "Geometria-ExtraBold"
	font-size: 18px
	margin-bottom: 25px

.surface__price
	.surface__row
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 15px

		.surface__row-right
			width: 40%
			padding: 10px
			background: #caced1

.s-after-print
	text-align: center
	padding-bottom: 0
	overflow: hidden
	h2
		margin-bottom: 70px
		text-align: left

	img
		margin-bottom: 30px
		position: relative
		top: -250px
		right: -300px
		opacity: 0
		transition: all 0.5s

	.s-after-print__animat
		top: 0
		right: 0
		opacity: 1	

	h4
		margin-bottom: 15px
	p
		margin-bottom: 60px

.s-call
	background: url(../images/s_call.jpg) no-repeat
	background-size: cover
	background-attachment: fixed

	form
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		input[type="text"]
			background: rgba(255,255,255,0.1)
			border: none
			border-bottom: 2px solid #fff
			padding: 20px

			&:focus
				outline: none

			&::placeholder
				color: white
				opacity: 1

.s-product
	background: #e8e8e8

	h2
		margin-bottom: 70px
		img
			position: absolute
			top: 35px
			right: 0

	.product
		font-size: 0
		margin-bottom: 45px

		h4
			background: #fff
			padding: 20px

		img
			width: 100%

.s-trust
	
	h2
		margin-bottom: 80px

	img
		width: 100%

.trust__items
	width: 90%
	margin: 0 auto
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	img
		margin-bottom: 70px

	.s-trust_animat
		animation-name: bigger
		animation-duration: 1s

	@keyframes bigger 
		0% 
			transform: scale(1)
		50% 
			transform: scale(1.2)
		100% 
			transform: scale(1) 

footer
	position: relative

.contact
	background: url(../images/footer_contact.jpg) no-repeat
	background-size: cover
	padding: 80px
	width: 460px
	box-sizing: border-box
	position: absolute
	top: 10vh
	left: 10vw
	z-index: 1000

	.maket-req
		overflow: hidden

		span
			width: 45px
			height: 45px
			border-radius: 100%
			background: #fff
			position: relative
			top: 10px
			right: 20px
			display: block
			float: left
			margin-left: 30px

		img
			top: 7px
			right: -10px


.contact__addres
	margin-bottom: 25px

.contact__phones
	margin-bottom: 50px

	span
		display: block

.contact__title-small
	font-family: "Geometria-ExtraBold"
	font-size: 30px

.contact__form
	margin-bottom: 20px

#map
	height: 860px
	width: 100%










@import media